
/*j'ai créer une bordure solid pour toutes mes div, j'ai mis le texte en couleur noir, l'arrière plan en couleur blanche  */
div {
    color: black; 
    background-color:whitesmoke;
    border: solid;
    border-color: red;
    width: 500px;/*width c'est la largeur*/
    height: 350px ; /*height c'est la hauteur*/
}


/* j'ai créer une bordure double pour la div avec l'id divDouble et je l'ai mise en couleur bleu */
#divDouble {
    border: double; 
    border-color: blue;
    
}


/*j'ai créer une border dotted pour la div avec l'id divDotted et je l'ai mise en couleur jaune */
#divDotted {
    border: dotted; 
    border-color: yellow;
}


/*j'ai créer une bordure dashed pour la div avec l'id divDashed et je l'ai mise en couleur verte */
#divDashed {
    border: dashed; 
    border-color: green;
}

#div1 {
  color: cyan;
  border: solid;
  border-color: red;
  background-color: beige;
  border-radius: 25px 10px 45px 15px
}

#div2 {
    /*La bordure est pointillé, de couleur rouge et 4px d'épaisseur*/
    border: dotted red 4px;
    border-radius: 15px;
    /*Le text est aligné au centre*/
    text-align: center;
}

