/*je modifie la police de ma page web*/
body{
    font-family:'Saira',sans-serif ;
    
}


/* je selectionne la couleur rouge pour tous mes paragraphes */
p {
    color:#ff0000;
}


/* je selectionne la couleur verte pour mes titres de niveaux 1  */
h1 {
    color: green;
}


/* je selectionne la couleur bleu pour mes listes ordonnées */
ol {
    color: blue;
}


/* je sectionne la couleur gris pour toutes mes listes non ordonnées */
a {
    color: grey;   
}

.rsma{
    color:blue;
    font-family: 'Saira',sans-serif;
}

/*je modifie la taille de texte de ma classe rsma */
.rsma{
font-size: 25px;
}




.para1 {
    font-style: italic;
    
}

.para2 {
font-weight: bold;
}